# Titaniic Survival prediction using NAIVE BAYES

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("C:/Users/rushi/OneDrive/Desktop/INTERNSHIP COURSE-Pantech/Machine learning-30Days Internship/DAY_6_TitanicSurvivalPrediction_NAIVEBAYES/titanicsurvival.csv")

In [3]:
dataset

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

# Mapping Gender text data to Binary Numbers

In [4]:
dataset['Sex'] = dataset['Sex'].map({'female': 0, 'male': 1}).astype(int)
dataset.head(5)

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

# Segregating Dataset into X and Y

In [15]:
X = dataset.drop('Survived',axis='columns')
X[:10]

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500
5       3    1   NaN   8.4583
6       1    1  54.0  51.8625
7       3    1   2.0  21.0750
8       3    0  27.0  11.1333
9       2    0  14.0  30.0708

In [16]:
Y = dataset.Survived
Y[:10]

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

# Finding and Removing NA from our Features X

In [23]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [24]:
X.Age = X.Age.fillna(X.Age.mean())

# Test again to check any na value

In [25]:
X.columns[X.isna().any()]

Index([], dtype='object')

# Splitting Dataset to Train and Test

In [26]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size = 0.25, random_state=0)

In [27]:
xtrain[:10]

     Pclass  Sex   Age     Fare
105       3    1  28.0   7.8958
68        3    0  17.0   7.9250
253       3    1  30.0  16.1000
320       3    1  22.0   7.2500
706       2    0  45.0  13.5000
271       3    1  25.0   0.0000
424       3    1  18.0  20.2125
752       3    1  33.0   9.5000
615       2    0  24.0  65.0000
2         3    0  26.0   7.9250

In [28]:
xtest[:10]

     Pclass  Sex        Age      Fare
495       3    1  29.699118   14.4583
648       3    1  29.699118    7.5500
278       3    1   7.000000   29.1250
31        1    0  29.699118  146.5208
255       3    0  29.000000   15.2458
298       1    1  29.699118   30.5000
609       1    0  40.000000  153.4625
318       1    0  31.000000  164.8667
484       1    1  25.000000   91.0792
367       3    0  29.699118    7.2292

In [29]:
ytrain[:10]

105    0
68     1
253    0
320    0
706    1
271    1
424    0
752    0
615    1
2      1
Name: Survived, dtype: int64

In [30]:
ytest[:10]

495    0
648    0
278    0
31     1
255    1
298    1
609    1
318    1
484    1
367    1
Name: Survived, dtype: int64

In [31]:
print("xtrain:",xtrain.shape)
print("xtest:",xtest.shape)
print("ytrain:",ytrain.shape)
print("ytest:",ytest.shape)

xtrain: (668, 4)
xtest: (223, 4)
ytrain: (668,)
ytest: (223,)

# Training

In [32]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(xtrain,ytrain)

GaussianNB()

# Predicting, wheather Person Survived or Not

In [34]:
pclassNo = int(input("Enter Person's Pclass number: "))
gender = int(input("Enter Person's Gender 0-female 1-male(0 or 1): "))
age = int(input("Enter Person's Age: "))
fare = float(input("Enter Person's Fare: "))
person = [[pclassNo,gender,age,fare]]
result = model.predict(person)
print(result)

if result == 1:
    print("Person might be Survived")
else:
    print("Person might not be Survived")

Enter Person's Pclass number: 3
Enter Person's Gender 0-female 1-male(0 or 1): 1
Enter Person's Age: 22
Enter Person's Fare: 7.2500
[0]
Person might not be Survived

C:\Users\rushi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [35]:
pclassNo = int(input("Enter Person's Pclass number: "))
gender = int(input("Enter Person's Gender 0-female 1-male(0 or 1): "))
age = int(input("Enter Person's Age: "))
fare = float(input("Enter Person's Fare: "))
person = [[pclassNo,gender,age,fare]]
result = model.predict(person)
print(result)

if result == 1:
    print("Person might be Survived")
else:
    print("Person might not be Survived")

Enter Person's Pclass number: 1
Enter Person's Gender 0-female 1-male(0 or 1): 0
Enter Person's Age: 38
Enter Person's Fare: 71.2833
[1]
Person might be Survived

C:\Users\rushi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

# Prediction for all Test Data

In [37]:
y_pred = model.predict(xtest)
print(np.column_stack((y_pred,ytest)))

[[0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]]

# Accuracy of Model

In [38]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model: {0}%".format(accuracy_score(ytest,y_pred)*100))

Accuracy of the Model: 77.57847533632287%

# Thank You